<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<main role="main">
		<div class="container mt-5">
			<h3>Checkout View</h3>
			<h5>In order to purchase products in your shopping cart, Please
				provide us the following information.</h5>

			<div class="row">
				<div class="col-md-6">
					<div class="card mb-5">
						<form class="p-5 bg-warning border rounded" th:action="@{/affable-bean/ui/checkout-view}" method="post">
							<div class="mb-3">
								<label class="form-label">Username</label> <input type="text"
									class="form-control" name="username" />
							</div>
							<div class="mb-3">
								<label class="form-label">Password</label> <input type="text"
									class="form-control" name="password" />
							</div>
							<div class="mb-3">
								<label class="form-label">AccountNumber</label> <input
									type="text" class="form-control" name="accountNumber" />
							</div>
							<input type="submit" class="btn btn-primary w-100"
								value="Submit Purchase" />
						</form>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</main>
</body>
</html>